/* CSS Reset <https://www.joshwcomeau.com/css/custom-css-reset/> */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Card List */
.card-list {
	display: flex;
	flex-wrap: wrap;

	height: calc(100% - 2rem);
	margin: 1rem;

	overflow: auto;

	border: 1px solid black;
	border-radius: 2rem;
}

/* Card */
.card {
	display: grid;
	gap: 0.2rem;

	padding: 2rem;
	margin: 2rem;

	border: 1px solid black;
	border-radius: 2rem;

	background-color: lightgrey;
}

.card .usage {
	display: flex;
	gap: 0.1rem;
}