/* CSS Reset <https://www.joshwcomeau.com/css/custom-css-reset/> */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    min-width: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Generic Helpers */
.backdrop {
    /* stack to increase opacity */
    text-shadow:
        0 0 4px white,
        0 0 4px white,
        0 0 4px white,
        0 0 4px white,
        0 0 4px white,
        0 0 4px white;
}

/* Colors */
.monster {
    --primary-color: #bdaf7e;
}

.monster.effect {
    --primary-color: #ac6c46;
}

.monster.ritual {
    --primary-color: #206ab3;
}

.monster.fusion {
    --primary-color: #5d3c80;
}

.monster.synchro {
    --primary-color: #acacae;
}

.monster.xyz {
    --primary-color: #1e2628;
}

.monster.link {
    --primary-color: #429dbb;
}

.monster.pendulum {
    --secondary-color: #208f86;
}

.spell {
    --primary-color: #208f86;
}

.trap {
    --primary-color: #a43278;
}

/* User Interface */
.deck-builder {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: 100%;

    padding: 1rem;
    gap: 1rem;

    height: 100%;
}

.card-search {
    display: grid;
    grid-template-rows: min-content 1fr;

    gap: 1rem;
}

.card-search-params {
    display: grid;

    gap: 0.5rem;
}

.drawers {
    display: grid;
    align-content: start;

    gap: 0.5rem;

    overflow: auto;
}

.drawer {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        ". ."
        "content content";

    gap: 0.5rem;
}

.drawer .card-list {
    grid-area: content;
}

.deck-view {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1.5fr repeat(2, min-content 1fr);

    gap: 0.5rem;
}

.deck-view .card-list {
    grid-column: 1/3;
}

.deck-view .part-size {
    display: flex;
    gap: 0.25rem;
    align-self: center;
}

.extras {
    display: grid;
    gap: 0.5rem;

    grid-template-rows: min-content 1fr;
}

/* Card List */
.card-list {
    --card-size: 5rem;
    --border-width: 1px;
    --space: 0.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    align-content: start;
    justify-content: space-around;

    padding: var(--space);
    gap: var(--space);

    overflow-x: clip;
    overflow-y: auto;

    border: var(--border-width) solid black;
    border-radius: 0.5rem;

    /* make sure it does not resize when adding the first card to drawer */
    min-height: calc(var(--card-size) + 2 * var(--space) + 2 * var(--border-width));
}

/* Card */
.card {
    position: relative;

    display: grid;

    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;

    --secondary-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color) 45%, var(--secondary-color) 55%);
}

.card img {
    align-self: center;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.card .usage {
    display: flex;
    gap: 0.1rem;
}

.card .count {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;

    font-family: sans-serif;
    font-weight: bold;
}

/* Card Tooltip */
.card-tooltip {
    position: absolute;
    z-index: 9;

    left: var(--left);
    margin-left: 0.5rem;
    width: min(30rem, calc(100% - 1rem - var(--left)));

    background: darkgray;

    border-radius: 0.5rem;
    padding: 0.5rem;
}

.card-tooltip h1 {
    font: bold condensed 1.2rem sans-serif;

    margin-bottom: 0.5rem;
}

.card-tooltip h2 {
    font: bold condensed 1rem sans-serif;

    margin-top: 0.25rem;
}

.card-tooltip .tags {
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 0 0.4rem;

    margin-bottom: 0.5rem;

    font-size: 0.8rem;
    opacity: 80%;
}

.card-tooltip .stats {
    margin-bottom: 0.5rem;

    font-size: 0.8rem;
    opacity: 80%;
}

.card-tooltip .stats .label {
    font-size: 80%;
    font-weight: bold;

    margin-right: 0.5rem;
}

.card-tooltip .stats .data {
    margin-right: 0.75rem;
}

.card-tooltip .stats .link {
    display: inline;
}

.card-tooltip .tags .level {
    margin-left: 0.5rem;
}

.card-tooltip .description {
    display: grid;
    gap: 0.25rem;

    hyphens: auto;
}

.card-tooltip .description ul {
    padding-left: 1.25rem;
}

/* Menu */
.menu {
    display: grid;
    gap: 0.25rem;
}

.menu button {
    text-align: left;
}

/* Tools */

.tools {
    display: grid;
    align-content: start;

    padding: 1rem;
    gap: 2rem;

    overflow-x: clip;
    overflow-y: auto;

    border: 1px solid black;
    border-radius: 0.5rem;
}

.tools h3 {
    margin-bottom: 0.5rem;
}

.errors {
    padding-left: 1.5rem;
}

.graph {
    width: 100%;
}

.graph * {
    vector-effect: non-scaling-stroke;
}

.graph .helper {
    stroke: gray;
}

.graph .axis {
    stroke: black;
    stroke-width: 4px;
}

.graph .bar {
    height: 8px;

    fill: var(--primary-color);
    stroke: color-mix(in srgb, var(--primary-color) 20%, black);
}

.graph .label {
    font-family: sans-serif;
    font-weight: bold;

    dominant-baseline: central;
}

.graph .label.value {
    transform: translateX(0.4rem);
}
